body {
    margin: 0;
}

#content {
    position: relative;
    margin: 40px auto;
}

canvas {
    border: 1px solid #f0f0f0;
    /*box-shadow: 2px 2px 2px #eee;*/
}

.uploadFile {
    padding: 4px 10px;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
}

.uploadFile input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.uploadFile:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.progress {
    margin-top: 30px;
}